.profileParent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://raw.githubusercontent.com/Mainulhasan05/Course-Schduler-EWU-/main/bc.jpg');
    height: 100vh;
    font-weight: 800;
}
.profilecontents{
    display: flex;
    
}
.profileImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.changeMail{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
}
.profiledetails{
    flex: 1;
}
@media only screen and (max-width: 800px) {
    .profilecontents{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
  }